<div class="row">
    <div class="col-12 p-5 min-vh-100 d-flex flex-column justify-content-center align-items-center text-center">
        <h1 class="home-row-text">
            <span class="home-word-primary ">Hi, I'm</span>
            <span class="home-word-text">Tye</span> 
            <span class="home-word-primary ">Leonard</span>
        </h1>
        <p class="home-word-text">
            Software Engineer with 7+ years in the trenches, now applying that same builder's mindset to data science
            and predictive analytics."
        </p>
    </div>
</div>