<div class="row">
    <div class="col-12 p-5">
        <h4 class="text-center">
            <span class="word-text">My</span>
            <span class="word-primary">Projects</span>
        </h4>

        <div class="container text-center">
            <div class="row g-4 mt-4">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card portfolio-item">
                        <div class="row g-0 portfolio-card-row">
                            <div class="col-12 portfolio-image">
                                <img src="../assets/images/fake-news-finder.png" alt="Fake News Finder">
                            </div>

                            <div class="col-12 card-body">
                                <p class="card-text">
                                    <a href="#" class="portfolio-link">
                                        Fake News Finder
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card portfolio-item">
                        <div class="row g-0 portfolio-card-row">
                            <div class="col-12 portfolio-image">
                                <img src="../assets/images/disease-risk-modeling.png" alt="Disease Risk Modeling">
                            </div>

                            <div class="col-12 card-body">
                                <p class="card-text">
                                    <a href="#" class="portfolio-link">
                                        Disease Risk Modeling
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card portfolio-item">
                        <div class="row g-0 portfolio-card-row">
                            <div class="col-12 portfolio-image">
                                <img src="../assets/images/analyzing-best-selling-books.png"
                                    alt="Analyzing Best Selling Books">
                            </div>

                            <div class="col-12 card-body">
                                <p class="card-text">
                                    <a href="#" class="portfolio-link">
                                        Analyzing Best Selling Books
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card portfolio-item">
                        <div class="row g-0 portfolio-card-row">
                            <div class="col-12 portfolio-image">
                                <img src="../assets/images/analyzing-childcare-prices.png"
                                    alt="Analyzing Childcare Prices">
                            </div>

                            <div class="col-12 card-body">
                                <p class="card-text">
                                    <a href="#" class="portfolio-link">
                                        Analyzing Childcare Prices
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card portfolio-item">
                        <div class="row g-0 portfolio-card-row">
                            <div class="col-12 portfolio-image">
                                <img src="../assets/images/an-exploratory-analysis-by-position-and-season.png"
                                    alt="NBA players exploratory analysis by position and season">
                            </div>

                            <div class="col-12 card-body">
                                <p class="card-text">
                                    <a href="#" class="portfolio-link">
                                        NBA Players: An Exploratory Analysis by Position and Season
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card portfolio-item">
                        <div class="row g-0 portfolio-card-row">
                            <div class="col-12 portfolio-image">
                                <img src="../assets/images/book-recommendation-engine.png"
                                    alt="Book Recommendation Engine">
                            </div>

                            <div class="col-12 card-body">
                                <p class="card-text">
                                    <a href="#" class="portfolio-link">
                                        Book Recommendation Engine
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card portfolio-item">
                        <div class="row g-0 portfolio-card-row">
                            <div class="col-12 portfolio-image">
                                <img src="../assets/images/retail-pulse.png" alt="Retail Pulse">
                            </div>

                            <div class="col-12 card-body">
                                <p class="card-text">
                                    <a href="#" class="portfolio-link">
                                        Real-Time Demand, Stockout, and Promotion Intelligence
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card portfolio-item">
                        <div class="row g-0 portfolio-card-row">
                            <div class="col-12 portfolio-image">
                                <img src="../assets/images/market-basket-analysis.png" alt="Market Basket Analysis">
                            </div>

                            <div class="col-12 card-body">
                                <p class="card-text">
                                    <a href="#" class="portfolio-link">
                                        Market Basket Analysis for Online Retail Purchases
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>