<div class="row">
    <div class="col-12 p-5">
        <h4 class="text-center">
            <span class="word-text">My</span>
            <span class="word-primary">Skills</span>
        </h4>

        <div class="container text-center">
            <div class="row g-4 mt-4">

                <!-- HTML -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/html5.svg"
                                    alt="HTML logo"
                                    width="32"
                                    height="32"
                                />
                                HTML
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="HTML proficiency"
                                        aria-valuenow="95"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 95%"
                                        >
                                            95%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CSS -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/css.svg"
                                    alt="CSS logo"
                                    width="32"
                                    height="32"
                                />
                                CSS
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="CSS proficiency"
                                        aria-valuenow="95"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 95%"
                                        >
                                            95%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- JavaScript -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/javascript.svg"
                                    alt="JavaScript logo"
                                    width="32"
                                    height="32"
                                />
                                JavaScript
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="JavaScript proficiency"
                                        aria-valuenow="80"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 80%"
                                        >
                                            80%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Node.js -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/nodejs.svg"
                                    alt="Node.js logo"
                                    width="32"
                                    height="32"
                                />
                                Node.js
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Node.js proficiency"
                                        aria-valuenow="80"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 80%"
                                        >
                                            80%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- React -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/react.svg"
                                    alt="React logo"
                                    width="32"
                                    height="32"
                                />
                                React
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="React proficiency"
                                        aria-valuenow="80"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 80%"
                                        >
                                            80%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Java -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/java.svg"
                                    alt="Java logo"
                                    width="32"
                                    height="32"
                                />
                                Java
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Java proficiency"
                                        aria-valuenow="90"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 90%"
                                        >
                                            90%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Kotlin -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/kotlin.svg"
                                    alt="Kotlin logo"
                                    width="32"
                                    height="32"
                                />
                                Kotlin
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Kotlin proficiency"
                                        aria-valuenow="90"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 90%"
                                        >
                                            90%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Groovy -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/groovy.svg"
                                    alt="Groovy logo"
                                    width="32"
                                    height="32"
                                />
                                Groovy
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Groovy proficiency"
                                        aria-valuenow="90"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 90%"
                                        >
                                            90%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Python -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/python.svg"
                                    alt="Python logo"
                                    width="32"
                                    height="32"
                                />
                                Python
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Python proficiency"
                                        aria-valuenow="40"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 40%"
                                        >
                                            40%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SQL -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/sql.svg"
                                    alt="SQL logo"
                                    width="32"
                                    height="32"
                                />
                                SQL
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="SQL proficiency"
                                        aria-valuenow="60"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 60%"
                                        >
                                            60%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- GraphQL -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/graphql.svg"
                                    alt="GraphQL logo"
                                    width="32"
                                    height="32"
                                />
                                GraphQL
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="GraphQL proficiency"
                                        aria-valuenow="50"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 50%"
                                        >
                                            50%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CI/CD -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/cicd.svg"
                                    alt="CI/CD logo"
                                    width="32"
                                    height="32"
                                />
                                CI/CD
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="CI/CD proficiency"
                                        aria-valuenow="60"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 60%"
                                        >
                                            60%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Playwright -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/playwright.svg"
                                    alt="Playwright logo"
                                    width="32"
                                    height="32"
                                />
                                Playwright
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Playwright proficiency"
                                        aria-valuenow="70"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 70%"
                                        >
                                            70%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Grafana -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/grafana.svg"
                                    alt="Grafana logo"
                                    width="32"
                                    height="32"
                                />
                                Grafana
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Grafana proficiency"
                                        aria-valuenow="68"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 68%"
                                        >
                                            68%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Git -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/git.svg"
                                    alt="Git logo"
                                    width="32"
                                    height="32"
                                />
                                Git
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Git proficiency"
                                        aria-valuenow="90"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 90%"
                                        >
                                            90%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- GitHub -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/github.svg"
                                    alt="GitHub logo"
                                    width="32"
                                    height="32"
                                />
                                GitHub
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="GitHub proficiency"
                                        aria-valuenow="90"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 90%"
                                        >
                                            90%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Kafka -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/kafka.svg"
                                    alt="Apache Kafka logo"
                                    width="32"
                                    height="32"
                                />
                                Kafka
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Kafka proficiency"
                                        aria-valuenow="85"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 85%"
                                        >
                                            85%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- HBase -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/hbase.svg"
                                    alt="Apache HBase logo"
                                    width="32"
                                    height="32"
                                />
                                HBase
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="HBase proficiency"
                                        aria-valuenow="10"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 15%"
                                        >
                                            15%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- HDFS -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/hdfs.svg"
                                    alt="HDFS logo"
                                    width="32"
                                    height="32"
                                />
                                HDFS
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="HDFS proficiency"
                                        aria-valuenow="10"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 15%"
                                        >
                                            15%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Hive -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/hive.svg"
                                    alt="Apache Hive logo"
                                    width="32"
                                    height="32"
                                />
                                Hive
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Hive proficiency"
                                        aria-valuenow="10"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 15%"
                                        >
                                            15%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Spark -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/spark.svg"
                                    alt="Apache Spark logo"
                                    width="32"
                                    height="32"
                                />
                                Spark
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="Spark proficiency"
                                        aria-valuenow="10"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 15%"
                                        >
                                            15%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- YARN -->
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card skill-item h-100">
                        <div class="row align-items-center g-0 h-100">
                            <div class="col-12">
                                <img
                                    src="../assets/logos/svg/yarn.svg"
                                    alt="Apache YARN logo"
                                    width="32"
                                    height="32"
                                />
                                YARN
                            </div>

                            <div class="col-12">
                                <div class="progress-item">
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="YARN proficiency"
                                        aria-valuenow="10"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar bg-custom-progress"
                                            style="width: 15%"
                                        >
                                            15%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
